.circle {
    border-radius: 50px;
}

.inline-block {
    display: inline-block;
}

.row {
    max-width: 100%;
}

.panel .subheader {
    line-height: 1.4;
    color: #6f6f6f;
    font-weight: normal;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    text-transform: none;
}

.vcard {
    width: 100% !important;
}

.panel .full-img {
    width: 100%;
}

.no-padding {
    padding: 0;
}

.v-align {
    vertical-align: middle;
    display: inline-block;
}

.h-center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.icon-img {
    display: block;
    position: absolute;
    top:0;
    left: 0;
    max-width: inherit;
}
.icon-img-container {
    position: relative;
    z-index: 1;
    overflow: hidden;
}